* {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(77, 69, 221);
}
h1{
    background-color: #081b31;
    color: antiquewhite;
    height: 5rem;
    line-height: 5rem;

}
.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center ;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    /* border: solid black 3px; */


}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.choice:hover{
    cursor: pointer;
    background-color: #081b31;
    
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
    

}
#user-score,
#comp-score{
    font-size: 4rem;

}
#msg{
    background-color: rgb(11, 9, 9);
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
.msg-container{
    margin-top: 5rem;

}
#reset-btn {
    display: block;
    margin: 5rem auto;
    background-color: black;
    color: antiquewhite;
    padding: 5px 15px;
    border-radius: 10px;
}

#reset-btn:hover{
    opacity: 0.7;
    cursor: pointer;

}